{% extends "site_base.html" %}

{% block head_title %}{{ ad.description }}{% endblock %}

{% block body %}
    <h1>{{ ad.description }} {% if ad.disabled %}(Disabled){%  endif %}</h1>
    <p>Created {{ ad.created_at }}</p>

    <img class="img-responsive" src="{{ ad.imageFile.url }}">

    <h4>Description</h4>
    <p>{{ ad.description }}</p>

    <h4>Size</h4>
    <p>{{ ad.size }}</p>

    <h4>Issues</h4>
    <p>{% for issue in ad.issues.all %}
        {{ issue }} {% if not forloop.last %},{% else %} and {% endif %}
    {% endfor %}</p>

    <h4>Final Price - <small>List Price</small></h4>
    <p>{{ ad.finalPrice }} - <small>{{ ad.finalPrice }}</small></p>

    {% if ad.discounts %}
    <h4>Discounts</h4>
    <p>{{ ad.discounts }}</p>
    {% endif %}


    <a class="btn btn-primary" href="update">Edit</a>
    {% if ad.disabled %}
        <a class="btn btn-success" href="enable">Enable</a>
    {%  else %}
        <a class="btn btn-danger" href="disable">Disable</a>
    {%  endif %}
{% endblock %}