<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ article.title }} | {{ article.section.name }} | The Harvard Crimson</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:image"
          content="http://thumbnails.thecrimson.com.s3.amazonaws.com/photos/2014/04/03/181344_1295528.jpg.635x168_q95_crop-smart_upscale.jpg">
    <meta property="og:url" content="http://www.thecrimson.com/article/2014/4/3/title-ix-complaint-college/">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@thecrimson">
    <meta name="twitter:title" content="Undergraduates Challenge College’s Sexual Assault Policy Under Title IX">
    <meta name="twitter:description"
          content="Two people, including at least one member of the student activist campaign Our Harvard Can Do Better, have filed a complaint against Harvard with the U.S. Department of Education’s Office for Civil Rights, alleging that the College’s sexual assault policies violate Title IX.">
    <meta name="twitter:image"
          content="http://thumbnails.thecrimson.com.s3.amazonaws.com/photos/2014/04/03/181344_1295528.jpg.250x66_q95_crop-smart_upscale.jpg">

    <meta property="og:image" content="http://static.thecrimson.com/images/seal.jpg">

    <link rel="stylesheet" href="http://static.thecrimson.com.s3.amazonaws.com/CACHE/css/c64094570797.css"
          type="text/css"/>
    <link rel="stylesheet" href="http://static.thecrimson.com.s3.amazonaws.com/CACHE/css/9a73e26dc7dd.css"
          type="text/css"/>
    <link rel="shortcut icon" href="{{ STATIC_URL }}favicon.ico"/>

    <script type="text/javascript">
        CURR_URI = "http://www.thecrimson.com/article/2014/4/3/title-ix-complaint-college/";
    </script>

    <script type="text/javascript"
            src="http://static.thecrimson.com.s3.amazonaws.com/CACHE/js/f9dbcfbad10e.js"></script>

    <script type="text/javascript">var addthis_config = {"data_track_addressbar": false};</script>
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=thecrimson"></script>


    <script type="text/javascript">var NREUMQ = NREUMQ || [];
    NREUMQ.push(["mark", "firstbyte", new Date().getTime()]);</script>
</head>

<body>
<header>
    <div id="masthead">
        <div id="masthead-first-wrapper">
            <div id="toolbar">
                <div id="toolbar-container">
                    <nav id="toolbar-colophon">
                        <ul>
                            <li><a href="/about/">About Us</a></li>
                            <li><a href="http://www.thecrimsonadvertising.com/" target="_blank">Advertising</a></li>
                            <li><a href="/subscribe/">Subscribe</a></li>
                            <li><a href="http://programs.thecrimson.com/">Journalism Programs</a></li>
                            <li><a href="/classifieds/" rel="nofollow">Classifieds</a></li>
                            <li><a href="http://thecrimson.personforce.com/" target="_blank">Job Board</a></li>
                        </ul>
                    </nav>
                    <nav id="toolbar-social">

                    </nav>
                    <div id="toolbar-weather">
                        <a href="http://www.accuweather.com/en/us/cambridge-ma/02138/weather-forecast/756_pc"><span
                                class="weather-locale">Cambridge, MA</span> Weather: 45&deg;F <img alt="sun"
                                                                                                   src="http://static.thecrimson.com/images/icons/sun.svg"
                                                                                                   width="16"
                                                                                                   height="16"
                                                                                                   style="vertical-align: bottom; margin-left: 2px;"/></a>
                    </div>
                    <div id="masthead-search-mobile">
                        <form action="/search/" id="cse-search-box">
                            <input type="hidden" name="cx" value="013815813102981840311:aw6l9tjs1a0"/>
                            <input type="hidden" name="cof" value="FORID:10"/>
                            <input type="hidden" name="ie" value="UTF-8"/>
                            <input type="text" class="query" name="q"/>
                            <button class="search-submit" type="submit" name="sa">Search</button>
                        </form>
                    </div>
                </div>
            </div>
            <div id="masthead-first">
                <div id="masthead-first-container">
                    <h1><a href="/">The Harvard Crimson</a></h1>

                    <div id="masthead-search">
                        <form action="/search/" id="cse-search-box">
                            <input type="hidden" name="cx" value="013815813102981840311:aw6l9tjs1a0"/>
                            <input type="hidden" name="cof" value="FORID:10"/>
                            <input type="hidden" name="ie" value="UTF-8"/>
                            <input type="text" class="query" name="q"/>
                            <button class="search-submit" type="submit" name="sa">Search</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div id="masthead-second">
            <nav id="masthead-nav-mobile">
                <ul>
                    <li><a href="#">Sections</a></li>
                </ul>
            </nav>
            <nav id="masthead-nav" class="mobile-hidden">
                <ul>
                    <li><a href="/section/news/"
                           {% if article.section.name == 'News' %}class="active"{% endif %}>News</a></li>
                    <li><a href="/section/opinion/" {% if article.section.name == 'Opinion' %}class="active"{% endif %}>Opinion</a>
                    </li>
                    <li><a href="/section/fm/" {% if article.section.name == 'Magazine' %}class="active"{% endif %}>Magazine</a>
                    </li>
                    <li><a href="/section/sports/" {% if article.section.name == 'Sports' %} class="
                           active" {% endif %}>Sports</a></li>
                    <li><a href="/section/arts/"
                           {% if article.section.name == 'Arts' %}class="active"{% endif %}>Arts</a></li>
                    <li><a href="/section/media/" {% if article.section.name == 'Media' %}class="active"{% endif %}>Media</a>
                    </li>
                    <li><a href="/section/flyby/" {% if article.section.name == 'Flyby' %}class="active"{% endif %}>Flyby</a>
                    </li>
                    <li><a href="/admissions/" {% if article.section.name == 'Admissions' %}class="active"{% endif %}>Admissions</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>

<div id="content">

<div class="leaderboard">
    <div id="ad-TheCrimson_AllArticles_ATF_728x90" style="width: 728px; height: 90px;">
        <script type='text/javascript'>
            if (Crimson.Responsive.isMobile === (0 === 1)
                    || (0 === 0)) {
                googletag.cmd.push(function () {
                    googletag.display('ad-TheCrimson_AllArticles_ATF_728x90');
                });
            }
        </script>
    </div>
</div>

<section id="main">
<div id="article">
<div id="article-header">
    <h1>{{ article.title }}</h1>

    {% if article.subtitle %}
        <h2 style="font-size: 1.5em; font-style: italic; color: #999; margin: 3px 0 5px;">
            {{ article.subtitle }}
        </h2>
    {% endif %}

    <div class="article-byline">By <a href='#'>{{ article.authors }}</a>, CRIMSON STAFF WRITERS
        <time class="article-date" datetime="{{ article.modified_on.date }}" title="Updated {{ article.modified_on }}">
            {{ article.modified_on.date }}
        </time>
    </div>
</div>

<div class="addthis_toolbox addthis_default_style addthis_32x32_style sidebar">
    <div class="add-this-inner">
        <a class="addthis_button_facebook"></a>
        <a class="addthis_button_twitter"></a>
        <a class="addthis_button_email"></a>
        <a class="addthis_button_print"></a>
        <a class="addthis_button_compact"></a>
        <a class="addthis_counter addthis_bubble_style"></a>
    </div>
</div>

<div id="article-body">
    <div id="text">{{ article.content|safe }}

        <div id="article-tags">
            <h3>Tags</h3>

            <div>
                <a href="/tag/college">College</a>
                <a href="/tag/college-administration">College&nbsp;Administration</a>
                <a href="/tag/college-life">College&nbsp;Life</a>
                <a href="/tag/college-news">College&nbsp;News</a>
                <a href="/tag/sexual-assault">Sexual&nbsp;Assault</a>
            </div>

        </div>

        <div id="subscribe-link">
            <strong>Want to keep up with breaking news? </strong>
            <a href="javascript:Crimson.Interstitials.show('subscribe')">Get the latest, straight to your inbox.</a><br><br>
        </div>
    </div>
</div>
<div class="sidebar">


    <div id="most-read-shell" class="sidebar">
        <div id="most-read-box">
            <h3>Most Read</h3>
            <ol>


                <li><a href='/article/2014/2/14/fifteen-hottest-2017/'>Fifteen Hottest Freshmen &#39;17: Date Spots</a>
                </li>


                <li><a href='/article/2006/2/2/the-skinny-on-harvards-rare-book/'>The Skinny on Harvard’s Rare Book
                    Collection</a></li>


                <li><a href='/article/2014/3/31/Harvard-sexual-assault/'>Dear Harvard: You Win</a></li>


                <li><a href='/article/1998/10/14/urban-outfitters-chain-pulls-racist-costumes/'>Urban Outfitters Chain
                    Pulls Racist Costumes</a></li>


                <li><a href='/article/2014/4/3/title-ix-complaint-college/'>Undergraduates Challenge College’s Sexual
                    Assault Policy Under Title IX</a></li>

            </ol>
        </div>
    </div>


    <div class="sidekick-shell sidebar">
        <div class="sidekick primary">
            <div id="ad-TheCrimson_AllArticles_AllPositions_300x600" style="width: 300px; height: 600px;">
                <script type='text/javascript'>
                    if (Crimson.Responsive.isMobile === (0 === 1)
                            || (0 === 0)) {
                        googletag.cmd.push(function () {
                            googletag.display('ad-TheCrimson_AllArticles_AllPositions_300x600');
                        });
                    }
                </script>
            </div>
        </div>
        <div class="large-screen-only">


            <div class="blog-shell">
                <div class="blog-box">

                    <div class="blog-feature">
                        <div class="article-image">
                            <a href="/article/2014/4/5/taxing-attempt-at-taxes/">
                                <img src="http://thumbnails.thecrimson.com.s3.amazonaws.com/photos/2014/04/05/133022_1295594.png.305x207_q95_crop-smart_upscale.jpg"
                                     title="Tax Deadlines" alt="Tax Deadlines"/>
                            </a>
                        </div>
                        <h2 class="blog-title" id="flyby-title">
                            <a href="/section/flyby">
                                <span class="flyby-flyby">Flyby</span> Blog
                            </a>
                        </h2>

                        <div class="blog-entry">
                            <h3><a href="/article/2014/4/5/taxing-attempt-at-taxes/">A Taxing Attempt at Filing
                                Taxes</a></h3>

                            <div class="article-byline">
                                <span class="article-date">Yesterday</span>
                            </div>
                        </div>
                    </div>

                    <div class="blog-more">

                        <div class="blog-another">
                            <div class="article-thumbnail">
                                <a href="#">
                                    <img src="http://thumbnails.thecrimson.com.s3.amazonaws.com/photos/2010/11/28/225909_1243028.jpg.40x40_q95_crop-smart_upscale.jpg"
                                         title="Students in Lamont" alt="Students in Lamont"/>
                                </a>
                            </div>
                            <div class="blog-entry">
                                <h4><a href="/article/2014/4/5/thirsty-thursday-in-lamont/">Thirsty Thursday in
                                    Lamont</a></h4>

                                <div class="article-byline"><span class="article-date">Yesterday</span></div>
                            </div>
                        </div>

                        <div class="blog-another">
                            <div class="article-thumbnail">
                                <a href="#">
                                    <img src="http://thumbnails.thecrimson.com.s3.amazonaws.com/photos/2014/04/04/150508_1295581.jpg.40x40_q95_crop-smart_upscale.jpg"
                                         title="Taylor Swift" alt="Taylor Swift"/>
                                </a>
                            </div>
                            <div class="blog-entry">
                                <h4><a href="/article/2014/4/4/move-over-miley/">Move Over, Miley: Celebs Harvard Really
                                    Wants to See</a></h4>

                                <div class="article-byline"><span class="article-date">2 days ago</span></div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>


        </div>
        <div class="sidekick-shell">
            <div class="sidekick">
                <div class="ad-label">Advertisement</div>
                <div id="ad-TheCrimson_AllArticles_ATF_300x250" style="width: 300px; height: 250px;">
                    <script type='text/javascript'>
                        if (Crimson.Responsive.isMobile === (0 === 1)
                                || (0 === 0)) {
                            googletag.cmd.push(function () {
                                googletag.display('ad-TheCrimson_AllArticles_ATF_300x250');
                            });
                        }
                    </script>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="article-comments">
    <div id="disqus_thread"></div>
    <script type="text/javascript">
        /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
        var disqus_shortname = 'theharvardcrimsom'; // required: replace example with your forum shortname

        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function () {
            var dsq = document.createElement('script');
            dsq.type = 'text/javascript';
            dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by
        Disqus.</a></noscript>
    <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>

    <div class="sidekick-shell sidebar">
        <div class="sidekick">
            <div class="ad-label">Advertisement</div>
            <div id="ad-TheCrimson_AllArticles_BTF_300x250" style="width: 300px; height: 250px;">
                <script type='text/javascript'>
                    if (Crimson.Responsive.isMobile === (0 === 1)
                            || (0 === 0)) {
                        googletag.cmd.push(function () {
                            googletag.display('ad-TheCrimson_AllArticles_BTF_300x250');
                        });
                    }
                </script>
            </div>
        </div>
    </div>
</div>
</div>
</section>

<div class="leaderboard">
    <div id="ad-TheCrimson_AllArticles_BTF_728x90" style="width: 728px; height: 90px;">
        <script type='text/javascript'>
            if (Crimson.Responsive.isMobile === (0 === 1)
                    || (0 === 0)) {
                googletag.cmd.push(function () {
                    googletag.display('ad-TheCrimson_AllArticles_BTF_728x90');
                });
            }
        </script>
    </div>
</div>
</div>

<footer>
    <div id="footer-first">
        <h1><a href="/">The Harvard Crimson</a></h1>
    </div>
    <div id="footer-second">
        <p>Copyright &copy; 2014 The Harvard Crimson, Inc.</p>
        <nav id="footer-nav">
            <ul>
                <li><a href="/about/privacy/">Privacy Policy</a></li>
                <li><a href="/about/permissions/">Rights &amp; Permissions</a></li>
                <li><a href="/contact/">Contact Us</a></li>
                <li><a href="/contact/">Corrections</a></li>
                <li><a href="/subscribe/">Subscriptions</a></li>
                <li><a href="/sitemap/">Archives</a></li>
                <li><a href="/sitemap/contributors/">Writers</a></li>
            </ul>
        </nav>
    </div>
</footer>

<script type="text/javascript">if (!NREUMQ.f) {
    NREUMQ.f = function () {
        NREUMQ.push(["load", new Date().getTime()]);
        var e = document.createElement("script");
        e.type = "text/javascript";
        e.src = (("http:" === document.location.protocol) ? "http:" : "https:") + "//" + "js-agent.newrelic.com/nr-100.js";
        document.body.appendChild(e);
        if (NREUMQ.a)NREUMQ.a();
    };
    NREUMQ.a = window.onload;
    window.onload = NREUMQ.f;
}
;
NREUMQ.push(["nrfj", "beacon-3.newrelic.com", "35f86da418", "470626", "YlVaZxdYV0NSVkVRClsffkYLWk1ZXFseXA9UXl9cS1RQVFdZVE8ER1UWUARaUVUJc1RMBl12SlwIelhTW1B8UQFRXF1EBEtcHkNHXlsARkNnQQBITFVAQQ==", 0, 12, new Date().getTime(), "", "", "", "", ""]);</script>
</body>
</html>
