<div class="subsection-icon">
    <div class="image">
        <a href="{{ article.get_absolute_url }}">
            <img src="{{ article.image.url }}"
                 title="{{ article.title }}" alt="{{ article.title }}"
                 height="60" width="140"/>
        </a>
    </div>
    <div class="icon-byline">
        <a href="{{ article.get_absolute_url }}">
            {{ article.title }}
        </a>
    </div>
    <div class="icon-date">
        <time class="article-date" datetime="{{ article.modified_on.date }}" title="Updated {{ article.modified_on }}">
            {{ article.modified_on.date }}
        </time>
    </div>
</div>