<div class="list-article article">
    {% if article.image %}
        <div class="article-headline-image">
            <a href="#">
                <img src="{{ article.image.url }}" width="60" height="60">
            </a>
        </div>
    {% endif %}
    <div class="article-section">
        <a href="/tag/college">College</a>
    </div>
    <a href="{{ article.get_absolute_url }}"><h2>{{ article.title }}</h2></a>

    <div class="article-byline">
        {% for author in article.authors.all %}
            <a href='{{ author.get_absolute_url }}'>{{ author }}</a>,
        {% endfor %}
        CRIMSON STAFF WRITERS
        <time class="article-date" datetime="{{ article.modified_on.date }}" title="Updated {{ article.modified_on }}">
            {{ article.modified_on.date }}
        </time>
    </div>
    <p>{{ article.teaser|truncatewords_html:50 }}</p>
</div>