{% extends 'site_base.html' %}

{% block body %}
    {% include 'helpers/breaking_news.html' %}

    <section id="upper">
    <div id="upper-body">
        <div id="section-bar">
            <h1>News</h1>
            <nav id="section-nav">
                <ul>
                    <li><a href="#">College</a></li>
                    <li><a href="#">Faculty</a></li>
                    <li><a href="#">Metro</a></li>
                    <li><a href="#">University</a></li>
                    <li><a href="#"><img src="http://static.thecrimson.com/images/icons/rss.gif"></a></li>
                </ul>
            </nav>
        </div>

        <div class="article feature horizontal">
            {% include 'article/image_with_preview.html' with article=layout.featured %}
        </div>

        <div id="upper-first">
            <div class="subsections-container">

                {% include 'article/icon_preview.html' with article=layout.image1 %}
                {% include 'article/icon_preview.html' with article=layout.image2 %}
                {% include 'article/icon_preview.html' with article=layout.image3 %}
                {% include 'article/icon_preview.html' with article=layout.image4 %}
                {% include 'article/icon_preview.html' with article=layout.image5 %}

            </div>
        </div>
        <div id="upper-second">
            <div class="upper-column">
                <div class="subsection">

                    {% for article in col1 %}
                        <div class="article">
                            {% include 'article/preview.html' %}
                        </div>
                    {% endfor %}

                </div>
            </div>
            <div class="upper-column">

                {% for article in col2 %}
                    <div class="article">
                        {% include 'article/preview.html' %}
                    </div>
                {% endfor %}

            </div>
        </div>
    </div>
    <div id="upper-sidebar">


        <div class="blog-shell">
            <div class="blog-box">

                <div class="blog-feature">
                    <div class="article-image">
                        <a href="/article/2014/4/6/drinks-that-will-knock/">
                            <img src="http://thumbnails.thecrimson.com.s3.amazonaws.com/photos/2014/04/04/125145_1295578.jpg.305x207_q95_crop-smart_upscale.jpg"
                                 title="Janelle Monáe Flyby" alt="Janelle Monáe Flyby"/>
                        </a>
                    </div>
                    <h2 class="blog-title" id="flyby-title">
                        <a href="/section/flyby">
                            <span class="flyby-flyby">Flyby</span> Blog
                        </a>
                    </h2>

                    <div class="blog-entry">
                        <h3><a href="/article/2014/4/6/drinks-that-will-knock/">Drinks That Will Knock You Off That
                            Tightrope: How to Pregame Janelle Monáe</a></h3>

                        <div class="article-byline">
                            <span class="article-date">4 hours ago</span>
                        </div>
                    </div>
                </div>

                <div class="blog-more">

                    <div class="blog-another">
                        <div class="article-thumbnail">
                            <a href="#">
                                <img src="http://thumbnails.thecrimson.com.s3.amazonaws.com/photos/2010/11/28/225909_1243028.jpg.40x40_q95_crop-smart_upscale.jpg"
                                     title="Students in Lamont" alt="Students in Lamont"/>
                            </a>
                        </div>
                        <div class="blog-entry">
                            <h4><a href="/article/2014/4/5/thirsty-thursday-in-lamont/">Thirsty Thursday in Lamont</a>
                            </h4>

                            <div class="article-byline"><span class="article-date">Yesterday</span></div>
                        </div>
                    </div>

                    <div class="blog-another">
                        <div class="article-thumbnail">
                            <a href="#">
                                <img src="http://thumbnails.thecrimson.com.s3.amazonaws.com/photos/2014/04/04/150508_1295581.jpg.40x40_q95_crop-smart_upscale.jpg"
                                     title="Taylor Swift" alt="Taylor Swift"/>
                            </a>
                        </div>
                        <div class="blog-entry">
                            <h4><a href="/article/2014/4/4/move-over-miley/">Move Over, Miley: Celebs Harvard Really
                                Wants
                                to See</a></h4>

                            <div class="article-byline"><span class="article-date">2 days ago</span></div>
                        </div>
                    </div>

                </div>
            </div>
        </div>


        <div id="most-read-shell" class="sidebar">
            <div id="most-read-box">
                <h3>Most Read</h3>
                <ol>


                    <li><a href='/article/2014/2/14/fifteen-hottest-2017/'>Fifteen Hottest Freshmen &#39;17: Date
                        Spots</a>
                    </li>


                    <li><a href='/article/2006/2/2/the-skinny-on-harvards-rare-book/'>The Skinny on Harvard’s Rare Book
                        Collection</a></li>


                    <li><a href='/article/2014/3/31/Harvard-sexual-assault/'>Dear Harvard: You Win</a></li>


                    <li><a href='/article/1998/10/14/urban-outfitters-chain-pulls-racist-costumes/'>Urban Outfitters
                        Chain
                        Pulls Racist Costumes</a></li>


                    <li><a href='/article/2014/4/3/title-ix-complaint-college/'>Undergraduates Challenge College’s
                        Sexual
                        Assault Policy Under Title IX</a></li>

                </ol>
            </div>
        </div>


        <div class="sidekick-shell">
            <div class="sidekick">
                <div id="ad-TheCrimson_NewsLanding_ATF_300x250" style="width: 300px; height: 250px;">
                    <script type='text/javascript'>
                        if (Crimson.Responsive.isMobile === (0 === 1)
                                || (0 === 0)) {
                            googletag.cmd.push(function () {
                                googletag.display('ad-TheCrimson_NewsLanding_ATF_300x250');
                            });
                        }
                    </script>
                </div>
            </div>
        </div>


        <div id="media-shell">
            <div id="media-box">
                <h2 class="media-title"><a href="/section/media/">Media</a></h2>


                <div class="media-feature">
                    <div class="media-entry">
                        <a href="/video/2014/4/5/fenway-organist/">
                            <img src="http://thumbnails.thecrimson.com.s3.amazonaws.com/photos/2014/04/05/014214_fenway-organist.jpg.300x200_q95_upscale.jpg"
                                 title="Fenway Organist" alt="Fenway Organist"/>
                        </a>

                        <h3><a href="/video/2014/4/5/fenway-organist/">Fenway Organist</a></h3>

                        <div class="media-byline"><span class="media-date">Yesterday</span></div>
                    </div>
                </div>
                <div class="media-more">


                    <div class="media-another">
                        <div class="media-thumbnail">
                            <a href="/video/2014/3/27/herbie-hancock-video-improving-improvisation/">
                                <img src="http://thumbnails.thecrimson.com.s3.amazonaws.com/photos/2014/03/29/221430_herbie-hancock-video-improving-improvisation.jpg.100x100_q95_upscale.jpg"
                                     title="Herbie Hancock Improvises" alt="Herbie Hancock Improvises"/>
                            </a>
                        </div>
                        <div class="media-entry">
                            <h4><a href="/video/2014/3/27/herbie-hancock-video-improving-improvisation/">Herbie Hancock
                                Improvises</a></h4>

                            <div class="media-byline"><span class="media-date">10 days ago</span></div>
                        </div>
                    </div>


                    <div class="media-another">
                        <div class="media-thumbnail">
                            <a href="/video/2014/2/27/UC_250K_Campaign/">
                                <img src="http://thumbnails.thecrimson.com.s3.amazonaws.com/photos/2014/02/27/101226_uc_250k_campaign.jpg.100x100_q95_upscale.jpg"
                                     title="UC 250K Campaign " alt="UC 250K Campaign "/>
                            </a>
                        </div>
                        <div class="media-entry">
                            <h4><a href="/video/2014/2/27/UC_250K_Campaign/">UC 250K Campaign </a></h4>

                            <div class="media-byline"><span class="media-date">February 27, 2014</span></div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
    </section>

    <section id="row">

        <div class="row article">
            <a href="/article/2014/4/4/harvard-red-sox-fenway-organist-librarian/">
                <img src="http://thumbnails.thecrimson.com.s3.amazonaws.com/photos/2014/04/03/221522_1295557.jpg.130x90_q95_crop-smart_upscale.jpg"
                     title="Perfect pitch" alt="Perfect pitch"/>
            </a>

            <div class="row-section article-section">
                <a href="/tag/features">Features</a>
            </div>
            <h3>
                <a href="/article/2014/4/4/harvard-red-sox-fenway-organist-librarian/">
                    From the Harvard Library to Fenway, Red Sox Organist Says He&#39;s Ready for Opener
                </a>
            </h3>
        </div>

        <div class="row article">
            <a href="/article/2014/4/3/unpaid-internships-experience/">
                <img src="http://thumbnails.thecrimson.com.s3.amazonaws.com/photos/2014/04/01/233404_1295464.jpg.130x90_q95_crop-smart_upscale.jpg"
                     title="Will Work for Experience" alt="Will Work for Experience"/>
            </a>

            <div class="row-section article-section">
                <a href="/tag/scrutiny">Scrutiny</a>
            </div>
            <h3>
                <a href="/article/2014/4/3/unpaid-internships-experience/">
                    Unpaid Internships: A Priceless Experience?
                </a>
            </h3>
        </div>

        <div class="row article">
            <a href="/article/2014/4/1/knock-em-dead/">
                <img src="http://thumbnails.thecrimson.com.s3.amazonaws.com/photos/2014/04/01/013728_1295412.jpg.130x90_q95_crop-smart_upscale.jpg"
                     title="Comedy Cover Fox" alt="Comedy Cover Fox"/>
            </a>

            <div class="row-section article-section">
                <a href="/tag/arts">Arts</a>
            </div>
            <h3>
                <a href="/article/2014/4/1/knock-em-dead/">
                    Knock &#39;Em Dead: At Harvard, Crafting Comedy Is No Laughing Matter
                </a>
            </h3>
        </div>

        <div class="row article">
            <a href="/article/2014/4/1/harvard-hockey-1989-championship-25-years-perspective/">
                <img src="http://thumbnails.thecrimson.com.s3.amazonaws.com/photos/2014/04/01/011148_1295407.jpg.130x90_q95_crop-smart_upscale.jpg"
                     title="The Goal" alt="The Goal"/>
            </a>

            <div class="row-section article-section">
                <a href="/tag/men&#39;s-ice-hockey">Men&#39;s Ice Hockey</a>
            </div>
            <h3>
                <a href="/article/2014/4/1/harvard-hockey-1989-championship-25-years-perspective/">
                    Harvard Hockey 1989: A Championship in Perspective
                </a>
            </h3>
        </div>

    </section>

    <section id="lower">
    <div id="lower-body">
    <div class="lower-column">


    <div class="article">

        <div class="article-section">
            <a href="/tag/fas-administration">FAS Administration</a>
        </div>

        <h3><a href='/article/2014/4/2/ellison-says-ad-board/'>Ellison Says Ad Board Has Not Searched Student Emails
            Since
            At Least Fall 2002</a></h3>

        <div class="article-byline">
            By <a href='/writer/1209925/Madeline_R._Conway/'>Madeline R. Conway</a> and <a
                href='/writer/1210000/Steven_S.%20_Lee/'>Steven S. Lee</a>
            <span class="article-date">4 days ago</span>
        </div>
        <p>Secretary of the Administrative Board John “Jay” L. Ellison said that the body has not searched a student
            email
            account in a case since he joined it in fall 2002 and likely will not in the future.
        </p>

        <div class="article-comments">
            <a href="/article/2014/4/2/ellison-says-ad-board/#article-comments">
                <span class="comment-count">3</span>
                comments
            </a>
        </div>

    </div>


    <div class="article">

        <div class="article-section">
            <a href="/tag/fas">FAS</a>
        </div>

        <h3><a href='/article/2014/4/2/three-undergraduates-expelled-violence/'>Three Undergraduates Expelled on Charges
            of
            Physical Violence</a></h3>

        <div class="article-byline">
            By <a href='/writer/1209893/Dev_A._Patel/'>Dev A. Patel</a> and <a href='/writer/1209910/Steven_R._Watros/'>Steven
            R. Watros</a>
            <span class="article-date">4 days ago</span>
        </div>
        <p>All three students were charged with violating the Faculty of Arts and Sciences’ rules on physical violence,
            FAS
            Dean Michael D. Smith announced at the monthly Faculty meeting on Tuesday.

        </p>

        <div class="article-comments">
            <a href="/article/2014/4/2/three-undergraduates-expelled-violence/#article-comments">
                <span class="comment-count">24</span>
                comments
            </a>
        </div>

    </div>


    <div class="article">

        <div class="article-section">
            <a href="/tag/fas">FAS</a>
        </div>

        <h3><a href='/article/2014/4/2/faculty-still-concerned-honor/'>Faculty Still Concerned About Honor Code
            Affirmation</a></h3>

        <div class="article-byline">
            By <a href='/writer/1209893/Dev_A._Patel/'>Dev A. Patel</a> and <a href='/writer/1209910/Steven_R._Watros/'>Steven
            R. Watros</a>
            <span class="article-date">4 days ago</span>
        </div>
        <p>Members of the Faculty of Arts and Sciences raised concerns about how frequently students would be required
            to
            make an affirmation of integrity under an updated proposal for the College’s first-ever honor code, which
            was
            presented by Dean of Undergraduate Education Jay Harris to the faculty at their monthly meeting Tuesday.</p>

        <div class="article-comments">
            <a href="/article/2014/4/2/faculty-still-concerned-honor/#article-comments">
                <span class="comment-count">4</span>
                comments
            </a>
        </div>

    </div>


    <div class="article">

        <div class="article-section">
            <a href="/tag/advising">Advising</a>
        </div>

        <h3><a href='/article/2014/4/3/12-star-advising-awards/'>Twelve College Advisors Recognized with Annual
            Award</a>
        </h3>

        <div class="article-byline">
            By <a href='/writer/1210595/Meg_P._Bernhard/'>Meg P. Bernhard</a>
            <span class="article-date">3 days ago</span>
        </div>
        <p>For the third consecutive year, 12 advisors at the College have been recognized by the Advising Programs
            Office
            for their outstanding guidance and mentorship in their work with undergraduates.</p>

    </div>


    <div class="article">

        <div class="article-section">
            <a href="/tag/health">Health</a>
        </div>

        <h3><a href='/article/2014/4/3/public-health-harvardx-two-courses/'>School of Public Health Launches Two New
            MOOCs</a></h3>

        <div class="article-byline">
            By <a href='/writer/1210624/Michael_V._Rothberg/'>Michael V. Rothberg</a>
            <span class="article-date">3 days ago</span>
        </div>
        <p>To address public confusion surrounding the Affordable Care Act and new applications of big data, the Harvard
            School of Public Health has developed two new courses slated to launch April 7 on HarvardX.</p>

    </div>


    <div class="article">

        <div class="article-section">
            <a href="/tag/student-groups">Student Groups</a>
        </div>

        <h3><a href='/article/2014/4/2/artist-janelle-monae-awards/'> Artist Janelle Monáe To Be Recognized by Campus
            Groups</a></h3>

        <div class="article-byline">
            By <a href='/writer/1210674/Quynh-Nhu__Le/'>Quynh-Nhu Le</a> and <a
                href='/writer/1210742/Joanna_R._Schacter/'>Joanna
            R. Schacter</a>
            <span class="article-date">4 days ago</span>
        </div>


    </div>


    <div class="article">

        <div class="article-section">
            <a href="/tag/college">College</a>
        </div>

        <h3><a href='/article/2014/4/2/zuckerberg-welcomes-class-of/'>Zuckerberg Welcomes Class of 2018 to Harvard and
            Facebook Group</a></h3>

        <div class="article-byline">
            By <a href='/writer/1210552/Theodore_R._Delwiche/'>Theodore R. Delwiche</a>
            <span class="article-date">4 days ago</span>
        </div>


    </div>


    <div class="article">

        <div class="article-section">
            <a href="/tag/cambridge-city-council">Cambridge City Council</a>
        </div>

        <h3><a href='/article/2014/4/2/harvard-square-developer-sets/'>Harvard Square Developer Sets off Opposition Over
            Historic Park</a></h3>

        <div class="article-byline">
            By <a href='/writer/1210668/Ivan_B.%20K._Levingston/'>Ivan B. K. Levingston</a> and <a
                href='/writer/1210593/Celeste_M._Mendoza/'>Celeste M. Mendoza</a>
            <span class="article-date">4 days ago</span>
        </div>


    </div>


    <div class="article">

        <div class="article-section">
            <a href="/tag/college">College</a>
        </div>

        <h3><a href='/article/2014/3/30/committee-review-general-education/'>Committee To Review General Education
            Program</a></h3>

        <div class="article-byline">
            By <a href='/writer/1210595/Meg_P._Bernhard/'>Meg P. Bernhard</a>
            <span class="article-date">7 days ago</span>
        </div>


    </div>


    <div class="article">

        <div class="article-section">
            <a href="/tag/fas">FAS</a>
        </div>

        <h3><a href='/article/2014/3/31/fas-campaign-halfway-update/'>With $1.3 Billion Pledged, FAS Campaign Over
            Halfway
            to Goal</a></h3>

        <div class="article-byline">
            By <a href='/writer/1209893/Dev_A._Patel/'>Dev A. Patel</a> and <a href='/writer/1209910/Steven_R._Watros/'>Steven
            R. Watros</a>
            <span class="article-date">6 days ago</span>
        </div>


    </div>


    </div>
    <div class="lower-column">


    <div class="article">

        <div class="article-section">
            <a href="/tag/undergraduate-council">Undergraduate Council</a>
        </div>

        <h3><a href='/article/2014/4/3/cue-discusses-pass-fail/'>Committee for Undergrad Ed Continues Discussion of
            Pass/Fail Deadline</a></h3>

        <div class="article-byline">
            By <a href='/writer/1210595/Meg_P._Bernhard/'>Meg P. Bernhard</a>
            <span class="article-date">3 days ago</span>
        </div>
        <p>The Committee on Undergraduate Education continued its ongoing discussion about extending the pass/fail
            deadline
            later into the semester at its monthly meeting. </p>

    </div>


    <div class="article">

        <div class="article-section">
            <a href="/tag/academics">Academics</a>
        </div>

        <h3><a href='/article/2014/3/31/faculty-vote-honor-code/'>Faculty Will Discuss Proposed Honor Code at Faculty
            Meeting Tuesday</a></h3>

        <div class="article-byline">
            By <a href='/writer/1209893/Dev_A._Patel/'>Dev A. Patel</a> and <a href='/writer/1209910/Steven_R._Watros/'>Steven
            R. Watros</a>
            <span class="article-date">6 days ago</span>
        </div>
        <p>Faculty members will discuss a proposed student honor code, the passage of which would require students to
            make
            an affirmation of integrity, at their monthly meeting Tuesday.</p>

        <div class="article-comments">
            <a href="/article/2014/3/31/faculty-vote-honor-code/#article-comments">
                <span class="comment-count">1</span>
                comment
            </a>
        </div>

    </div>


    <div class="article">

        <div class="article-section">
            <a href="/tag/boston">Boston</a>
        </div>

        <h3><a href='/article/2014/3/31/weston-sue-harvard-land/'>Weston Selectmen Vote To Sue University Over Sale of
            Contaminated Property</a></h3>

        <div class="article-byline">
            By <a href='/writer/1209926/Christine_Y.%20_Cahill/'>Christine Y. Cahill</a>
            <span class="article-date">6 days ago</span>
        </div>
        <p>Weston alleges that Harvard failed to comply with the terms of a 2010 contract which required the University
            to
            “remediate” contaminated portions of the 62.5-acre Case Estates property it had agreed to sell to the
            town.</p>

        <div class="article-comments">
            <a href="/article/2014/3/31/weston-sue-harvard-land/#article-comments">
                <span class="comment-count">1</span>
                comment
            </a>
        </div>

    </div>


    <div class="article">

        <div class="article-section">
            <a href="/tag/college">College</a>
        </div>

        <h3><a href='/article/2014/4/1/race-task-force-deans/'>Pfister, Khurana Announce Creation of Working Group on
            Student Support, Inclusion</a></h3>

        <div class="article-byline">
            By <a href='/writer/1209925/Madeline_R._Conway/'>Madeline R. Conway</a> and <a
                href='/writer/1210000/Steven_S.%20_Lee/'>Steven S. Lee</a>
            <span class="article-date">5 days ago</span>
        </div>
        <p>The move comes just days after student leaders from the black and Latino communities came together to host a
            town
            hall to discuss race relations at Harvard.</p>

        <div class="article-comments">
            <a href="/article/2014/4/1/race-task-force-deans/#article-comments">
                <span class="comment-count">8</span>
                comments
            </a>
        </div>

    </div>


    <div class="article">

        <div class="article-section">
            <a href="/tag/undergraduate-council">Undergraduate Council</a>
        </div>

        <h3><a href='/article/2014/4/1/UC-sexual-assault-policy/'>In Response to Anonymous Op-Ed, UC Forms Sexual
            Assault
            Policy Task Force</a></h3>

        <div class="article-byline">
            By <a href='/writer/1209925/Madeline_R._Conway/'>Madeline R. Conway</a> and <a
                href='/writer/1210685/Noah_J._Delwiche/'>Noah J. Delwiche</a>
            <span class="article-date">5 days ago</span>
        </div>
        <p>The UC has formed a task force to involve students in the discussion on Harvard’s sexual assault policies in
            response to a first-person, anonymous op-ed published in The Crimson.</p>

        <div class="article-comments">
            <a href="/article/2014/4/1/UC-sexual-assault-policy/#article-comments">
                <span class="comment-count">47</span>
                comments
            </a>
        </div>

    </div>


    <div class="article">

        <div class="article-section">
            <a href="/tag/harvard-business-school">Harvard Business School</a>
        </div>

        <h3><a href='/article/2014/3/31/khan-business-school-speaker/'>Khan Academy Founder To Speak at Harvard Business
            School Class Day</a></h3>

        <div class="article-byline">
            By <a href='/writer/1210633/Alexander_H._Patel/'>Alexander H. Patel</a>
            <span class="article-date">6 days ago</span>
        </div>


    </div>


    <div class="article">

        <div class="article-section">
            <a href="/tag/labor">Labor</a>
        </div>

        <h3><a href='/article/2014/3/31/huctw-overtime-grant-managers/'>University Grant Managers Now Eligible for
            Overtime
            Pay</a></h3>

        <div class="article-byline">
            By <a href='/writer/1210615/Mariel%20A.%20Klein__%20/'>Mariel A. Klein </a>
            <span class="article-date">6 days ago</span>
        </div>


    </div>


    <div class="article">

        <div class="article-section">
            <a href="/tag/music">Music</a>
        </div>

        <h3><a href='/article/2014/3/31/hancock-last-lecture-norton/'>Hancock Wraps Up Norton Lecture Series with
            Performances, Stories of Inspiration</a></h3>

        <div class="article-byline">
            By <a href='/writer/1210542/Jill_E._Steinman%20/'>Jill E. Steinman </a>
            <span class="article-date">6 days ago</span>
        </div>


    </div>


    <div class="article">

        <div class="article-section">
            <a href="/tag/politics">Politics</a>
        </div>

        <h3><a href='/article/2014/4/1/murthy-med-school-speaker/'>Surgeon General Nominee To Speak at Medical, Dental
            Schools&#39; Class Day</a></h3>

        <div class="article-byline">
            By <a href='/writer/1210704/Steven_H._Tenzer/'>Steven H. Tenzer</a>
            <span class="article-date">5 days ago</span>
        </div>


    </div>


    <div class="article">

        <div class="article-section">
            <a href="/tag/politics">Politics</a>
        </div>

        <h3><a href='/article/2014/4/4/elaine-scarry-book-talk/'>Professors Discuss Nuclear Warfare and Democracy</a>
        </h3>

        <div class="article-byline">
            By <a href='/writer/1209872/Indrani_G._Das/'>Indrani G. Das</a>
            <span class="article-date">2 days ago</span>
        </div>


    </div>


    </div>
    </div>
    <div id="lower-sidebar">
        <div class="sidekick-shell">
            <div class="sidekick">
                <div id="ad-TheCrimson_NewsLanding_BTF_300x250" style="width: 300px; height: 250px;">
                    <script type='text/javascript'>
                        if (Crimson.Responsive.isMobile === (0 === 1)
                                || (0 === 0)) {
                            googletag.cmd.push(function () {
                                googletag.display('ad-TheCrimson_NewsLanding_BTF_300x250');
                            });
                        }
                    </script>
                </div>
            </div>
        </div>
    </div>
    </section>
{% endblock body %}