{% extends 'site_base.html' %}

{% block body %}
    {% include 'helpers/breaking_news.html' %}

    <section id="upper">
    <div id="upper-body">
    <div id="section-bar">
        <h1>Opinion</h1>
        <nav id="section-nav">
            <ul>
                <li><a href="/tag/Editorials/">Staff Editorials</a></li>
                <li><a href="/tag/Op-Eds/">Op-Eds</a></li>
                <li><a href="/columns/opinion">Columns</a></li>
                <li><a href="/tag/Cartoon/types/image">Cartoons</a></li>
                <li><a href="/feeds/section/opinion"><img
                        src="http://static.thecrimson.com/images/icons/rss.gif"></a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="feature half">
        <h2>
            <a href="#">Featured Cartoon</a>
        </h2>
        <a href="{{ layout.comic.url }}">
            <img src="{{ layout.comic.url }}"
                 title="Comic" alt="comix"
                 width="300" height="246"/>
        </a>

        <p><a href="#">See more here</a></p>

    </div>
    <div id="upper-first">
        <h2 class="subsection-header"><a href="#">Columns</a></h2>

        <div class="subsections-container">
            <div class="subsection-icon">
                <div class="icon-image">
                    <a href="/column/12-point-double-spaced/">

                        <img src="http://thumbnails.thecrimson.com.s3.amazonaws.com/photos/contentgroups/column/12-point-double-spaced.jpg.60x60_q95_crop-smart_upscale.jpg"
                             title="" alt=""/>

                    </a>
                </div>
                <div class="icon-byline"><a href='/column/12-point-double-spaced/'>Jacob R. Drucker</a></div>
                <h3><a href='/column/12-point-double-spaced/'>12 Point, Double Spaced</a></h3>

                <div class="icon-date">April 4, 2014</div>
            </div>

            <div class="subsection-icon">
                <div class="icon-image">
                    <a href="/column/the-direct-message/">

                        <img src="http://thumbnails.thecrimson.com.s3.amazonaws.com/photos/contentgroups/column/the-direct-message.jpg.60x60_q95_crop-smart_upscale.jpg"
                             title="" alt=""/>

                    </a>
                </div>
                <div class="icon-byline"><a href='/column/the-direct-message/'>Declan P. Garvey</a></div>
                <h3><a href='/column/the-direct-message/'>The Direct Message</a></h3>

                <div class="icon-date">April 4, 2014</div>
            </div>

            <div class="subsection-icon">
                <div class="icon-image">
                    <a href="/column/the-voyage-in/">

                        <img src="http://thumbnails.thecrimson.com.s3.amazonaws.com/photos/contentgroups/column/the-voyage-in.jpg.60x60_q95_crop-smart_upscale.jpg"
                             title="" alt=""/>

                    </a>
                </div>
                <div class="icon-byline"><a href='/column/the-voyage-in/'>Matthew M. Beck</a></div>
                <h3><a href='/column/the-voyage-in/'>The Voyage In</a></h3>

                <div class="icon-date">April 3, 2014</div>
            </div>

            <div class="subsection-icon">
                <div class="icon-image">
                    <a href="/column/material-girl/">

                        <img src="http://thumbnails.thecrimson.com.s3.amazonaws.com/photos/contentgroups/column/material-girl.jpg.60x60_q95_crop-smart_upscale.jpg"
                             title="" alt=""/>

                    </a>
                </div>
                <div class="icon-byline"><a href='/column/material-girl/'>Reina A.E. Gattuso</a></div>
                <h3><a href='/column/material-girl/'>Material Girl</a></h3>

                <div class="icon-date">April 1, 2014</div>
            </div>

            <div class="subsection-icon">
                <div class="icon-image">
                    <a href="/column/homo-economicus/">

                        <img src="http://thumbnails.thecrimson.com.s3.amazonaws.com/photos/contentgroups/column/homo-economicus.jpg.60x60_q95_crop-smart_upscale.jpg"
                             title="" alt=""/>

                    </a>
                </div>
                <div class="icon-byline"><a href='/column/homo-economicus/'>Jonathan Z. Zhou</a></div>
                <h3><a href='/column/homo-economicus/'>Homo Economicus</a></h3>

                <div class="icon-date">March 31, 2014</div>
            </div>
        </div>
    </div>
    <div id="upper-second">
        <div class="upper-column">
            <div class="subsection">
                <h2><a href="/tag/Editorials">Editorials</a></h2>

                <div class="article">
                    {% include 'article/preview.html' with article=layout.ed1 %}
                </div>

                <div class="article">
                    {% include 'article/preview.html' with article=layout.ed2 %}
                </div>

                <div class="article">
                    {% include 'article/preview.html' with article=layout.ed3 %}
                </div>

                <div class="article">
                    {% include 'article/preview.html' with article=layout.ed4 %}
                </div>

            </div>
        </div>
        <div class="upper-column">
            <div class="subsection">
                <h2><a href="/tag/Op-Eds">Op-Eds</a></h2>

                <div class="article">
                    {% include 'article/preview.html' with article=layout.oped1 %}
                </div>

                <div class="article">
                    {% include 'article/preview.html' with article=layout.oped2 %}
                </div>

                <div class="article">
                    {% include 'article/preview.html' with article=layout.oped3 %}
                </div>

                <div class="article">
                    {% include 'article/preview.html' with article=layout.oped4 %}
                </div>

            </div>
        </div>
    </div>
    <div class="upper-supplements one-supplement">
        <div class="upper-supplement">
            <h2><a href="/tag/roundtable">Roundtables</a></h2>

            <div class="upper-supplement-column">
                <div class="article">
                    <div class="article-image"><a href="/article/2013/5/4/venezuela-post-chavez/"><img
                            src="http://thumbnails.thecrimson.com.s3.amazonaws.com/photos/2013/05/05/184728_1287659.JPG.130x90_q95_crop-smart_upscale.jpg"
                            title="" alt=""/></a></div>
                    <h3><a href="/article/2013/5/4/venezuela-post-chavez/">What Will a Post-Chavez Venezuela Look
                        Like?</a>
                    </h3>

                    <div class="article-byline">By <a href='/writer/1209994/John__Griffin/'>John Griffin</a>, <a
                            href='/writer/1210398/Manuel__Melendez/'>Manuel Melendez</a>, <a
                            href='/writer/1210399/Valentina__Perez/'>Valentina Perez</a>, and <a
                            href='/writer/1210397/Delany__Sisiruca/'>Delany Sisiruca</a></a> <span
                            class="article-date"></span></div>
                </div>
            </div>
            <div class="upper-supplement-column">

                <div class="article">
                    <h4><a href="/article/2013/10/13/roundtable-divestment-faust/">Roundtable: Was President Faust
                        Wrong
                        to
                        Reject Divestment?</a></h4>
                </div>

                <div class="article">
                    <h4><a href="/article/2013/10/1/roundtable-uc-relevancy/">Roundtable: Do the recent UC elections
                        and
                        their subsequent results demonstrate that the UC is irrelevant on campus? </a></h4>
                </div>

                <div class="article">
                    <h4><a href="/article/2013/9/21/summers-roundtable/">Roundtable: Would Larry Summers have made a
                        better
                        Fed Chair than Janet Yellen?</a></h4>
                </div>

                <div class="article">
                    <h4><a href="/article/2013/5/4/venezuela-post-chavez/">What Will a Post-Chavez Venezuela Look
                        Like?</a>
                    </h4>
                </div>

            </div>
        </div>
    </div>
    </div>
    <div id="upper-sidebar">


        <div id="most-read-shell" class="sidebar">
            <div id="most-read-box">
                <h3>Most Read</h3>
                <ol>


                    <li><a href='/article/2014/2/14/fifteen-hottest-2017/'>Fifteen Hottest Freshmen &#39;17: Date
                        Spots</a>
                    </li>


                    <li><a href='/article/2006/2/2/the-skinny-on-harvards-rare-book/'>The Skinny on Harvard’s Rare Book
                        Collection</a></li>


                    <li><a href='/article/2014/3/31/Harvard-sexual-assault/'>Dear Harvard: You Win</a></li>


                    <li><a href='/article/1998/10/14/urban-outfitters-chain-pulls-racist-costumes/'>Urban Outfitters
                        Chain
                        Pulls Racist Costumes</a></li>


                    <li><a href='/article/2014/4/3/title-ix-complaint-college/'>Undergraduates Challenge College’s
                        Sexual
                        Assault Policy Under Title IX</a></li>

                </ol>
            </div>
        </div>


        <div class="sidekick-shell">
            <div class="sidekick">
                <div id="ad-TheCrimson_OpinionLanding_ATF_300x250" style="width: 300px; height: 250px;">
                    <script type='text/javascript'>
                        if (Crimson.Responsive.isMobile === (0 === 1)
                                || (0 === 0)) {
                            googletag.cmd.push(function () {
                                googletag.display('ad-TheCrimson_OpinionLanding_ATF_300x250');
                            });
                        }
                    </script>
                </div>
            </div>
        </div>


        <div id="media-shell">
            <div id="media-box">
                <h2 class="media-title"><a href="/section/media/">Media</a></h2>


                <div class="media-feature">
                    <div class="media-entry">
                        <a href="/video/2014/4/5/fenway-organist/">
                            <img src="http://thumbnails.thecrimson.com.s3.amazonaws.com/photos/2014/04/05/014214_fenway-organist.jpg.300x200_q95_upscale.jpg"
                                 title="Fenway Organist" alt="Fenway Organist"/>
                        </a>

                        <h3><a href="/video/2014/4/5/fenway-organist/">Fenway Organist</a></h3>

                        <div class="media-byline"><span class="media-date">Yesterday</span></div>
                    </div>
                </div>
                <div class="media-more">


                    <div class="media-another">
                        <div class="media-thumbnail">
                            <a href="/video/2014/3/27/herbie-hancock-video-improving-improvisation/">
                                <img src="http://thumbnails.thecrimson.com.s3.amazonaws.com/photos/2014/03/29/221430_herbie-hancock-video-improving-improvisation.jpg.100x100_q95_upscale.jpg"
                                     title="Herbie Hancock Improvises" alt="Herbie Hancock Improvises"/>
                            </a>
                        </div>
                        <div class="media-entry">
                            <h4><a href="/video/2014/3/27/herbie-hancock-video-improving-improvisation/">Herbie Hancock
                                Improvises</a></h4>

                            <div class="media-byline"><span class="media-date">10 days ago</span></div>
                        </div>
                    </div>


                    <div class="media-another">
                        <div class="media-thumbnail">
                            <a href="/video/2014/2/27/UC_250K_Campaign/">
                                <img src="http://thumbnails.thecrimson.com.s3.amazonaws.com/photos/2014/02/27/101226_uc_250k_campaign.jpg.100x100_q95_upscale.jpg"
                                     title="UC 250K Campaign " alt="UC 250K Campaign "/>
                            </a>
                        </div>
                        <div class="media-entry">
                            <h4><a href="/video/2014/2/27/UC_250K_Campaign/">UC 250K Campaign </a></h4>

                            <div class="media-byline"><span class="media-date">February 27, 2014</span></div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="sidekick-shell">
            <div class="sidekick" id="oped-box">

                <h2 class="opeds-submit">Submit an Op-Ed</h2>
                <em>To submit an op-ed, email it as a Word document to <a href="mailto:op-eds@thecrimson.com"><strong>op-eds@thecrimson.com</strong></a>.
                    Op-eds should be 750-950 words in length.</em>
            </div>
        </div>
    </div>
    </section>

    <section id="row">

        <div class="row article">
            <a href="/article/2014/4/4/harvard-red-sox-fenway-organist-librarian/">
                <img src="http://thumbnails.thecrimson.com.s3.amazonaws.com/photos/2014/04/03/221522_1295557.jpg.130x90_q95_crop-smart_upscale.jpg"
                     title="Perfect pitch" alt="Perfect pitch"/>
            </a>

            <div class="row-section article-section">
                <a href="/tag/features">Features</a>
            </div>
            <h3>
                <a href="/article/2014/4/4/harvard-red-sox-fenway-organist-librarian/">
                    From the Harvard Library to Fenway, Red Sox Organist Says He&#39;s Ready for Opener
                </a>
            </h3>
        </div>

        <div class="row article">
            <a href="/article/2014/4/3/unpaid-internships-experience/">
                <img src="http://thumbnails.thecrimson.com.s3.amazonaws.com/photos/2014/04/01/233404_1295464.jpg.130x90_q95_crop-smart_upscale.jpg"
                     title="Will Work for Experience" alt="Will Work for Experience"/>
            </a>

            <div class="row-section article-section">
                <a href="/tag/scrutiny">Scrutiny</a>
            </div>
            <h3>
                <a href="/article/2014/4/3/unpaid-internships-experience/">
                    Unpaid Internships: A Priceless Experience?
                </a>
            </h3>
        </div>

        <div class="row article">
            <a href="/article/2014/4/1/knock-em-dead/">
                <img src="http://thumbnails.thecrimson.com.s3.amazonaws.com/photos/2014/04/01/013728_1295412.jpg.130x90_q95_crop-smart_upscale.jpg"
                     title="Comedy Cover Fox" alt="Comedy Cover Fox"/>
            </a>

            <div class="row-section article-section">
                <a href="/tag/arts">Arts</a>
            </div>
            <h3>
                <a href="/article/2014/4/1/knock-em-dead/">
                    Knock &#39;Em Dead: At Harvard, Crafting Comedy Is No Laughing Matter
                </a>
            </h3>
        </div>

        <div class="row article">
            <a href="/article/2014/4/1/harvard-hockey-1989-championship-25-years-perspective/">
                <img src="http://thumbnails.thecrimson.com.s3.amazonaws.com/photos/2014/04/01/011148_1295407.jpg.130x90_q95_crop-smart_upscale.jpg"
                     title="The Goal" alt="The Goal"/>
            </a>

            <div class="row-section article-section">
                <a href="/tag/men&#39;s-ice-hockey">Men&#39;s Ice Hockey</a>
            </div>
            <h3>
                <a href="/article/2014/4/1/harvard-hockey-1989-championship-25-years-perspective/">
                    Harvard Hockey 1989: A Championship in Perspective
                </a>
            </h3>
        </div>

    </section>

    <section id="lower">
        <div id="lower-body">
            <div class="lower-column">
                {% for article in col1 %}
                    <div class="article">
                        {% include 'article/preview.html' %}
                    </div>
                {% endfor %}

            </div>
            <div class="lower-column">
                {% for article in col2 %}
                    <div class="article">
                        {% include 'article/preview.html' %}
                    </div>
                {% endfor %}

            </div>
        </div>
        <div id="lower-sidebar">
            <div class="sidekick-shell">
                <div class="sidekick">
                    <div id="ad-TheCrimson_OpinionLanding_BTF_300x250" style="width: 300px; height: 250px;">
                        <script type='text/javascript'>
                            if (Crimson.Responsive.isMobile === (0 === 1)
                                    || (0 === 0)) {
                                googletag.cmd.push(function () {
                                    googletag.display('ad-TheCrimson_OpinionLanding_BTF_300x250');
                                });
                            }
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock body %}