{% extends "site_base.html" %}

{% load bootstrap %}

{% block head_title %}Advertiser Profile{% endblock %}

{% block body %}
    <form class="form-horizontal" role="form" method="POST">
        <legend>Contact Form</legend>
        {% csrf_token %}
        {{ form|bootstrap_horizontal }}
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <input type="submit" class="btn btn-primary" value="Submit"/>
            </div>
        </div>
    </form>
{% endblock %}


